<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">
    <meta name="author" content="webThemez.com">
    <title>@ViewBag.Title - Testimonial Providing System</title>
    <link rel="favicon" href="/assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="/http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel='stylesheet' id='camera-css' href='/assets/css/camera.css' type='text/css' media='all'>
    @*<link href="/scss/style.scss" rel="stylesheet/scss" type="text/css">*@    

</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand">
                    <img src="/assets/images/iit.png" alt="Techro HTML5 template">
                    <span style="color:blue;font-size:14px">@Session["Studentname"].ToString().ToUpper()</span>
                </a>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">                    
                    <li class="c1 active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="c2">@Html.ActionLink("About", "About", "Home")</li>                    
                    <li class="c3">@Html.ActionLink("Research", "Research", "Home")</li>
                    <li class="c4 dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">Programs <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("PGDIT", "Programs", "Home")</li>
                            <li>@Html.ActionLink("MIT", "Programs", "Home")</li>
                            <li>@Html.ActionLink("CSE", "Programs", "Home")</li>
                            <li>@Html.ActionLink("MSSE", "Programs", "Home")</li>
                        </ul>
                    </li>
                    <li class="c5">@Html.ActionLink("Profile", "Profile", "Home", new { Studentid = Session["USERID"].ToString() }, htmlAttributes: null)</li>
                    @*<li class="c5"><input type="button" onclick="profile()" value="Profile"/></li>*@                    
                    <li class="c6">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="c7">@Html.ActionLink("Logout", "Logout", "Login")</li>
                    @*<li class="c1">@Html.ActionLink("Update", "Update", "Home", new { Studentid = Session["USERID"].ToString() }, htmlAttributes: null)</li>*@
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->   

        @RenderBody()
        <hr />
        <footer id="footer">

            <div class="container">
                <div class="row">
                    <div class="footerbottom">
                        <div class="col-md-3 col-sm-6">
                            <div class="footerwidget">
                                <h4>
                                    Course Categories
                                </h4>
                                <div class="menu-course">
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                List of Technology
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                List of Business
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                List of Photography
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                List of Language
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footerwidget">
                                <h4>
                                    Products Categories
                                </h4>
                                <div class="menu-course">
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                Individual Plans
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Business Plans
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Free Trial
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Academic
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footerwidget">
                                <h4>
                                    Browse by Categories
                                </h4>
                                <div class="menu-course">
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                All Courses
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                All Instructors
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                All Members
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                All Groups
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="footerwidget">
                                <h4>Contact</h4>
                                <p>IIT,University of Dhaka</p>
                                <div class="contact-info">
                                    <i class="fa fa-map-marker"></i>Dhaka, Bangladesh<br>
                                    <i class="fa fa-phone"></i>+8801779482994 <br>
                                    <i class="fa fa-envelope-o"></i>iit@du.ac.bd
                                </div>
                            </div><!-- end widget -->
                        </div>
                    </div>
                </div>
                <div class="social text-center">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>

                <div class="clear"></div>
                <!--CLEAR FLOATS-->
            </div>
            <div class="footer2">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 panel">
                            <div class="panel-body">
                                <p class="simplenav">
                                    <a href="index.html">Home</a> |
                                    <a href="about.html">About</a> |
                                    <a href="courses.html">Courses</a> |
                                    <a href="price.html">Price</a> |
                                    <a href="videos.html">Videos</a> |
                                    <a href="contact.html">Contact</a>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6 panel">
                            <div class="panel-body">
                                <p class="text-right">
                                    Copyright &copy; PGDIT2020. <a href="https://webthemez.com/tag/free" target="_blank">mimma.omi@gmail.com</a> by Mimma Akter Omi
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- /row of panels -->
                </div>
            </div>
        </footer>

        <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
        <script src="/assets/js/modernizr-latest.js"></script>
        <script type='text/javascript' src='/assets/js/jquery.min.js'></script>
        <script type='text/javascript' src='/assets/js/fancybox/jquery.fancybox.pack.js'></script>

        <script type='text/javascript' src='/assets/js/jquery.mobile.customized.min.js'></script>
        <script type='text/javascript' src='/assets/js/jquery.easing.1.3.js'></script>
        <script type='text/javascript' src='/assets/js/camera.min.js'></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/custom.js"></script>
    <script>
		jQuery(function(){

			jQuery('#camera_wrap_4').camera({
                transPeriod: 500,
                time: 3000,
				height: '600',
				loader: 'false',
				pagination: true,
				thumbnails: false,
				hover: false,
                playPause: false,
                navigation: false,
				opacityOnGrid: false,
				imagePath: '/assets/images/'
			});

		});
        </script>
</body>
</html>